
// colours

$base-blue: #2b6cc4;
$light-blue: #99bde4;
$dark-blue: #183059;
$base-grey: #b8b8b8;
$light-grey: #f6f4f3;
$dark-grey: #626161;
$base-red: #f03a47;
$light-red: #f79ca3;
$dark-red: #af5b5b;